# Unset the Guile paths to avoid mixing Guile major versions
export GUILE_LOAD_PATH=""
export GUILE_LOAD_COMPILED_PATH=""

use guix -l guix-dev.scm --ad-hoc postgresql

export GUILE_LOAD_COMPILED_PATH="$PWD:$PWD/tests:$GUILE_LOAD_COMPILED_PATH"
export GUILE_LOAD_PATH="$PWD:$GUILE_LOAD_PATH"
export PATH="$PWD/scripts:$PATH"

export GUIX_DATA_SERVICE_SHOW_ERROR_DETAILS=true

if [ -f .local.envrc ]; then
  source_env .local.envrc
fi
