use guix -l guix-dev.scm --ad-hoc postgresql

export GUILE_LOAD_COMPILED_PATH="$PWD:$GUILE_LOAD_COMPILED_PATH"
export GUILE_LOAD_PATH="$PWD:$GUILE_LOAD_PATH"
export PATH="$PWD/scripts:$PATH"

if [ -f .local.envrc ]; then
  source_env .local.envrc
fi
