*.go
Makefile.in
Makefile
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure

guix-data-service/config.scm
scripts/guix-data-service
scripts/guix-data-service-process-jobs
scripts/guix-data-service-query-build-servers
scripts/guix-data-service-process-branch-updated-email
pre-inst-env
